SiteUsers/Connected Services/UserServiceReference/UsersService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WcfUsersBusiness.ModelsContract" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WcfUsersBusiness.ModelsContract" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfUserBusinessModel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="UserBusinessModel" nillable="true" type="tns:UserBusinessModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUserBusinessModel" nillable="true" type="tns:ArrayOfUserBusinessModel" />
  <xs:complexType name="UserBusinessModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="Age" type="xs:int" />
      <xs:element minOccurs="0" name="DateOfBirth" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Gender" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UserBusinessModel" nillable="true" type="tns:UserBusinessModel" />
</xs:schema>